In [4]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
os.getcwd()
Olympics= pd.read_csv("C:\\Users\\Jim/Downloads/athlete_events.csv/athlete_events.csv")
swim= Olympics[Olympics['Sport'] == 'Swimming']
Medals=['Gold', 'Silver', 'Bronze']; winner=swim['Medal'].isin(Medals)

In [2]:
#Now the fun begins

In [58]:
#I now convert the data to a Pandas Dataframe to make it easier to manipulate
swim_champ=pd.DataFrame(swim[winner])
print(swim_champ)

            ID                                   Name Sex   Age  Height  \
37          15                   Arvo Ossian Aaltonen   M  30.0     NaN
38          15                   Arvo Ossian Aaltonen   M  30.0     NaN
210        100                       Oszkr Abay-Nemes   M  22.0     NaN
476        259                             Reema Abdo   F  21.0   173.0
740        424                Moira Abernethy (-Ford)   F  17.0     NaN
...        ...                                    ...  ..   ...     ...
270530  135302                          Iris Zscherpe   F  17.0   174.0
270732  135396               Martijn Hendrik Zuijdweg   M  23.0   186.0
270773  135415                          Robertas ulpa   M  20.0   193.0
270939  135489  Anastasiya Valeryevna Zuyeva-Fesikova   F  22.0   182.0
271013  135522        Klaas Erik "Klaas-Erik" Zwering   M  23.0   189.0

        Weight          Team  NOC        Games  Year  Season         City  \
37         NaN       Finland  FIN  1920 Summer  1920  Summer    Antwerpen
38         NaN       Finland  FIN  1920 Summer  1920  Summer    Antwerpen
210        NaN       Hungary  HUN  1936 Summer  1936  Summer       Berlin
476       59.0        Canada  CAN  1984 Summer  1984  Summer  Los Angeles
740        NaN  South Africa  RSA  1956 Summer  1956  Summer    Melbourne
...        ...           ...  ...          ...   ...     ...          ...
270530    55.0  West Germany  FRG  1984 Summer  1984  Summer  Los Angeles
270732    83.0   Netherlands  NED  2000 Summer  2000  Summer       Sydney
270773    82.0  Soviet Union  URS  1980 Summer  1980  Summer       Moskva
270939    71.0        Russia  RUS  2012 Summer  2012  Summer       London
271013    80.0   Netherlands  NED  2004 Summer  2004  Summer       Athina

           Sport                                            Event   Medal
37      Swimming           Swimming Men's 200 metres Breaststroke  Bronze
38      Swimming           Swimming Men's 400 metres Breaststroke  Bronze
210     Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
476     Swimming     Swimming Women's 4 x 100 metres Medley Relay  Bronze
740     Swimming  Swimming Women's 4 x 100 metres Freestyle Relay  Bronze
...          ...                                              ...     ...
270530  Swimming  Swimming Women's 4 x 100 metres Freestyle Relay  Bronze
270732  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
270773  Swimming           Swimming Men's 200 metres Breaststroke    Gold
270939  Swimming           Swimming Women's 200 metres Backstroke  Silver
271013  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay  Silver

[3048 rows x 15 columns]

In [ ]:
#SORTING

In [19]:
#The values are now sorted in order of year, beginning with the most recent Games
swim_champ_year=swim_champ.sort_values('Year', ascending = False)

In [14]:
print(swim_champ_year.head())

           ID                         Name Sex   Age  Height  Weight  \
187913  94406      Michael Fred Phelps, II   M  31.0   193.0    91.0
54371   27897               Gabriele Detti   M  21.0   184.0    79.0
56072   28734  Madeline Jane "Maya" DiRado   F  23.0   175.0    65.0
187911  94406      Michael Fred Phelps, II   M  31.0   193.0    91.0
187912  94406      Michael Fred Phelps, II   M  31.0   193.0    91.0

                 Team  NOC        Games  Year  Season            City  \
187913  United States  USA  2016 Summer  2016  Summer  Rio de Janeiro
54371           Italy  ITA  2016 Summer  2016  Summer  Rio de Janeiro
56072   United States  USA  2016 Summer  2016  Summer  Rio de Janeiro
187911  United States  USA  2016 Summer  2016  Summer  Rio de Janeiro
187912  United States  USA  2016 Summer  2016  Summer  Rio de Janeiro

           Sport                                            Event   Medal
187913  Swimming              Swimming Men's 100 metres Butterfly  Silver
54371   Swimming            Swimming Men's 1,500 metres Freestyle  Bronze
56072   Swimming  Swimming Women's 4 x 200 metres Freestyle Relay    Gold
187911  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay    Gold
187912  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay    Gold

In [22]:
#I can subset further to look at winners from the 1990's onwards
modern_champ= swim_champ_year[swim_champ_year['Year'] > 1990]

In [16]:
modern_champ.shape

(1306, 15)

In [17]:
print(modern_champ)

            ID                           Name Sex   Age  Height  Weight  \
187913   94406        Michael Fred Phelps, II   M  31.0   193.0    91.0
54371    27897                 Gabriele Detti   M  21.0   184.0    79.0
56072    28734    Madeline Jane "Maya" DiRado   F  23.0   175.0    65.0
187911   94406        Michael Fred Phelps, II   M  31.0   193.0    91.0
187912   94406        Michael Fred Phelps, II   M  31.0   193.0    91.0
...        ...                            ...  ..   ...     ...     ...
105333   53292               Scott Erik Jaffe   M  23.0   193.0    84.0
269547  134873                    Zhuang Yong   F  19.0   172.0    68.0
110581   55915   Daniel Ploug "Dan" Jorgensen   M  24.0   190.0    93.0
236992  118836  Veniamin Igorevich Tayanovich   M  25.0     NaN     NaN
236441  118551  Ashley Tara Tappin (-Doussan)   F  17.0   178.0    66.0

                 Team  NOC        Games  Year  Season            City  \
187913  United States  USA  2016 Summer  2016  Summer  Rio de Janeiro
54371           Italy  ITA  2016 Summer  2016  Summer  Rio de Janeiro
56072   United States  USA  2016 Summer  2016  Summer  Rio de Janeiro
187911  United States  USA  2016 Summer  2016  Summer  Rio de Janeiro
187912  United States  USA  2016 Summer  2016  Summer  Rio de Janeiro
...               ...  ...          ...   ...     ...             ...
105333  United States  USA  1992 Summer  1992  Summer       Barcelona
269547          China  CHN  1992 Summer  1992  Summer       Barcelona
110581  United States  USA  1992 Summer  1992  Summer       Barcelona
236992   Unified Team  EUN  1992 Summer  1992  Summer       Barcelona
236441  United States  USA  1992 Summer  1992  Summer       Barcelona

           Sport                                            Event   Medal
187913  Swimming              Swimming Men's 100 metres Butterfly  Silver
54371   Swimming            Swimming Men's 1,500 metres Freestyle  Bronze
56072   Swimming  Swimming Women's 4 x 200 metres Freestyle Relay    Gold
187911  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay    Gold
187912  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay    Gold
...          ...                                              ...     ...
105333  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
269547  Swimming            Swimming Women's 100 metres Freestyle    Gold
110581  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
236992  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay    Gold
236441  Swimming  Swimming Women's 4 x 100 metres Freestyle Relay    Gold

[1306 rows x 15 columns]

In [20]:
# This dataset can now be sorted by age to give an indication of the age range of contestants in this sport

In [25]:
modern_champ_age_range=modern_champ.sort_values('Age')

In [26]:
print(modern_champ_age_range)

            ID                                  Name Sex   Age  Height  \
170652   85771                              Nian Yun   F  13.0   168.0
16847     9034             Amanda Ray Beard (-Brown)   F  14.0   173.0
16848     9034             Amanda Ray Beard (-Brown)   F  14.0   173.0
16849     9034             Amanda Ray Beard (-Brown)   F  14.0   173.0
89771    45493                               Han Xue   F  14.0   177.0
...        ...                                   ...  ..   ...     ...
78988    40104          Spyridon "Spyros" Gianniotis   M  36.0   185.0
137867   69288                    Jason Edward Lezak   M  36.0   193.0
242086  121258  Dara Grace Torres (-Hoffman, -Minas)   F  41.0   183.0
242085  121258  Dara Grace Torres (-Hoffman, -Minas)   F  41.0   183.0
242084  121258  Dara Grace Torres (-Hoffman, -Minas)   F  41.0   183.0

        Weight           Team  NOC        Games  Year  Season            City  \
170652    61.0          China  CHN  1996 Summer  1996  Summer         Atlanta
16847     59.0  United States  USA  1996 Summer  1996  Summer         Atlanta
16848     59.0  United States  USA  1996 Summer  1996  Summer         Atlanta
16849     59.0  United States  USA  1996 Summer  1996  Summer         Atlanta
89771     68.0          China  CHN  1996 Summer  1996  Summer         Atlanta
...        ...            ...  ...          ...   ...     ...             ...
78988     78.0         Greece  GRE  2016 Summer  2016  Summer  Rio de Janeiro
137867    98.0  United States  USA  2012 Summer  2012  Summer          London
242086    68.0  United States  USA  2008 Summer  2008  Summer         Beijing
242085    68.0  United States  USA  2008 Summer  2008  Summer         Beijing
242084    68.0  United States  USA  2008 Summer  2008  Summer         Beijing

           Sport                                            Event   Medal
170652  Swimming  Swimming Women's 4 x 100 metres Freestyle Relay  Silver
16847   Swimming         Swimming Women's 100 metres Breaststroke  Silver
16848   Swimming         Swimming Women's 200 metres Breaststroke  Silver
16849   Swimming     Swimming Women's 4 x 100 metres Medley Relay    Gold
89771   Swimming     Swimming Women's 4 x 100 metres Medley Relay  Bronze
...          ...                                              ...     ...
78988   Swimming          Swimming Men's 10 kilometres Open Water  Silver
137867  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay  Silver
242086  Swimming     Swimming Women's 4 x 100 metres Medley Relay  Silver
242085  Swimming  Swimming Women's 4 x 100 metres Freestyle Relay  Silver
242084  Swimming             Swimming Women's 50 metres Freestyle  Silver

[1306 rows x 15 columns]

In [41]:
#INDEXING

In [42]:
#I begin by viewing the index of the swim_champ dataset

In [43]:
swim_champ.index

Int64Index([    37,     38,    210,    476,    740,    803,    804,    814,
               892,   1462,
            ...
            269854, 269888, 269944, 270394, 270403, 270530, 270732, 270773,
            270939, 271013],
           dtype='int64', length=3048)

In [ ]:
#I can now change the index to the athlete's ID

In [62]:
swim_champ.set_index('ID')

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
100,Oszkr Abay-Nemes,M,22.0,NaN,NaN,Hungary,HUN,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Bronze
259,Reema Abdo,F,21.0,173.0,59.0,Canada,CAN,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Bronze
424,Moira Abernethy (-Ford),F,17.0,NaN,NaN,South Africa,RSA,1956 Summer,1956,Summer,Melbourne,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135302,Iris Zscherpe,F,17.0,174.0,55.0,West Germany,FRG,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Bronze
135396,Martijn Hendrik Zuijdweg,M,23.0,186.0,83.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Bronze
135415,Robertas ulpa,M,20.0,193.0,82.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Breaststroke,Gold
135489,Anastasiya Valeryevna Zuyeva-Fesikova,F,22.0,182.0,71.0,Russia,RUS,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 200 metres Backstroke,Silver
135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,23.0,189.0,80.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver

In [57]:
#I can now reset the index
swim_champ.reset_index()

,index,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
1,38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
2,210,100,Oszkr Abay-Nemes,M,22.0,NaN,NaN,Hungary,HUN,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Bronze
3,476,259,Reema Abdo,F,21.0,173.0,59.0,Canada,CAN,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Bronze
4,740,424,Moira Abernethy (-Ford),F,17.0,NaN,NaN,South Africa,RSA,1956 Summer,1956,Summer,Melbourne,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043,270530,135302,Iris Zscherpe,F,17.0,174.0,55.0,West Germany,FRG,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Bronze
3044,270732,135396,Martijn Hendrik Zuijdweg,M,23.0,186.0,83.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Bronze
3045,270773,135415,Robertas ulpa,M,20.0,193.0,82.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Breaststroke,Gold
3046,270939,135489,Anastasiya Valeryevna Zuyeva-Fesikova,F,22.0,182.0,71.0,Russia,RUS,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 200 metres Backstroke,Silver
3047,271013,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,23.0,189.0,80.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver

In [82]:
#We can add more detail to the index by adding 2 columns to it, Team and Medal, and sorting on this index
country_medal=swim_champ.set_index(['Team','Medal'])
Country_medal=country_medal.sort_index()
print(Country_medal)

                        ID                                          Name Sex  \
Team        Medal
Argentina   Bronze    7809                       Georgina Bardach Martin   F
            Gold    135260                   Victoriano Alberto Zorrilla   M
            Silver   17715            Jeannette Morven Campbell (-Peper)   F
Australasia Bronze    9094  Francis Joseph Edmund "Frank" De Beaurepaire   M
            Bronze   46006                       Harold Hampton Hardwick   M
...                    ...                                           ...  ..
Zimbabwe    Gold     23549               Kirsty Leigh Coventry (-Seward)   F
            Silver   23549               Kirsty Leigh Coventry (-Seward)   F
            Silver   23549               Kirsty Leigh Coventry (-Seward)   F
            Silver   23549               Kirsty Leigh Coventry (-Seward)   F
            Silver   23549               Kirsty Leigh Coventry (-Seward)   F

                     Age  Height  Weight  NOC        Games  Year  Season  \
Team        Medal
Argentina   Bronze  20.0   172.0    63.0  ARG  2004 Summer  2004  Summer
            Gold    22.0     NaN     NaN  ARG  1928 Summer  1928  Summer
            Silver  20.0     NaN     NaN  ARG  1936 Summer  1936  Summer
Australasia Bronze  16.0   170.0    65.0  ANZ  1908 Summer  1908  Summer
            Bronze  23.0     NaN     NaN  ANZ  1912 Summer  1912  Summer
...                  ...     ...     ...  ...          ...   ...     ...
Zimbabwe    Gold    24.0   176.0    64.0  ZIM  2008 Summer  2008  Summer
            Silver  20.0   176.0    64.0  ZIM  2004 Summer  2004  Summer
            Silver  24.0   176.0    64.0  ZIM  2008 Summer  2008  Summer
            Silver  24.0   176.0    64.0  ZIM  2008 Summer  2008  Summer
            Silver  24.0   176.0    64.0  ZIM  2008 Summer  2008  Summer

                         City     Sport  \
Team        Medal
Argentina   Bronze     Athina  Swimming
            Gold    Amsterdam  Swimming
            Silver     Berlin  Swimming
Australasia Bronze     London  Swimming
            Bronze  Stockholm  Swimming
...                       ...       ...
Zimbabwe    Gold      Beijing  Swimming
            Silver     Athina  Swimming
            Silver    Beijing  Swimming
            Silver    Beijing  Swimming
            Silver    Beijing  Swimming

                                                            Event
Team        Medal
Argentina   Bronze  Swimming Women's 400 metres Individual Medley
            Gold              Swimming Men's 400 metres Freestyle
            Silver          Swimming Women's 100 metres Freestyle
Australasia Bronze          Swimming Men's 1,500 metres Freestyle
            Bronze            Swimming Men's 400 metres Freestyle
...                                                           ...
Zimbabwe    Gold           Swimming Women's 200 metres Backstroke
            Silver         Swimming Women's 100 metres Backstroke
            Silver         Swimming Women's 100 metres Backstroke
            Silver  Swimming Women's 200 metres Individual Medley
            Silver  Swimming Women's 400 metres Individual Medley

[3048 rows x 13 columns]

In [83]:
#We can now use the .loc command to subset the data to find which medals were won by two countries, Ireland and France
countries=['Ireland', 'France']
print(Country_medal.loc[countries])
#I am sorry to say that on this occasion France has us beaten

                    ID                              Name Sex   Age  Height  \
Team    Medal
Ireland Bronze  112357  Michelle Marie Smith (-De Bruin)   F  26.0   160.0
        Gold    112357  Michelle Marie Smith (-De Bruin)   F  26.0   160.0
        Gold    112357  Michelle Marie Smith (-De Bruin)   F  26.0   160.0
        Gold    112357  Michelle Marie Smith (-De Bruin)   F  26.0   160.0
France  Bronze    7347                     Coralie Balmy   F  25.0   180.0
...                ...                               ...  ..   ...     ...
        Silver  111484              Andr Jules Henri Six   M  20.0     NaN
        Silver  114753                    Boris Steimetz   M  21.0   187.0
        Silver  115717                     Jrmy Stravius   M  24.0   190.0
        Silver  115717                     Jrmy Stravius   M  28.0   190.0
        Silver  118625           Jean Charles mile Taris   M  23.0   178.0

                Weight  NOC        Games  Year  Season            City  \
Team    Medal
Ireland Bronze    71.0  IRL  1996 Summer  1996  Summer         Atlanta
        Gold      71.0  IRL  1996 Summer  1996  Summer         Atlanta
        Gold      71.0  IRL  1996 Summer  1996  Summer         Atlanta
        Gold      71.0  IRL  1996 Summer  1996  Summer         Atlanta
France  Bronze    67.0  FRA  2012 Summer  2012  Summer          London
...                ...  ...          ...   ...     ...             ...
        Silver     NaN  FRA  1900 Summer  1900  Summer           Paris
        Silver    75.0  FRA  2008 Summer  2008  Summer         Beijing
        Silver    86.0  FRA  2012 Summer  2012  Summer          London
        Silver    86.0  FRA  2016 Summer  2016  Summer  Rio de Janeiro
        Silver     NaN  FRA  1932 Summer  1932  Summer     Los Angeles

                   Sport                                            Event
Team    Medal
Ireland Bronze  Swimming            Swimming Women's 200 metres Butterfly
        Gold    Swimming            Swimming Women's 400 metres Freestyle
        Gold    Swimming    Swimming Women's 200 metres Individual Medley
        Gold    Swimming    Swimming Women's 400 metres Individual Medley
France  Bronze  Swimming  Swimming Women's 4 x 200 metres Freestyle Relay
...                  ...                                              ...
        Silver  Swimming               Swimming Men's Underwater Swimming
        Silver  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay
        Silver  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay
        Silver  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay
        Silver  Swimming              Swimming Men's 400 metres Freestyle

[75 rows x 13 columns]

In [93]:
# iloc can also be used to sort rows and columns, the example given here is the first 50 rows and index, name and ID columns
print(Country_medal.iloc[0:50,0:2])

                        ID                                          Name
Team        Medal
Argentina   Bronze    7809                       Georgina Bardach Martin
            Gold    135260                   Victoriano Alberto Zorrilla
            Silver   17715            Jeannette Morven Campbell (-Peper)
Australasia Bronze    9094  Francis Joseph Edmund "Frank" De Beaurepaire
            Bronze   46006                       Harold Hampton Hardwick
            Bronze   46006                       Harold Hampton Hardwick
            Gold     12448                         Leslie "Les" Boardman
            Gold     19659                        Malcolm Eadie Champion
            Gold     30777        Sarah Frances "Fanny" Durack (-Gately)
            Gold     46006                       Harold Hampton Hardwick
            Gold     46968                           Cecil Patrick Healy
            Silver    9094  Francis Joseph Edmund "Frank" De Beaurepaire
            Silver   46968                           Cecil Patrick Healy
            Silver  131941                       Wilhelmina "Mina" Wylie
Australia   Bronze     465                          Matthew "Matt" Abood
            Bronze    4145               Janice "Jan" Andrew (-Thornett)
            Bronze    8051                  Bronte Amelia Arnold Barratt
            Bronze    9094  Francis Joseph Edmund "Frank" De Beaurepaire
            Bronze    9094  Francis Joseph Edmund "Frank" De Beaurepaire
            Bronze   10804                              Kevin John Berry
            Bronze   15006                          Graeme Thomas Brewer
            Bronze   15177                             Grant Tyson Brits
            Bronze   15266                                  Leith Brodie
            Bronze   15266                                  Leith Brodie
            Bronze   15387                                   Neil Brooks
            Bronze   15433                    Gregory John "Greg" Brough
            Bronze   16009                         Glenn Robert Buchanan
            Bronze   16009                         Glenn Robert Buchanan
            Bronze   17494                            Ashley John Callus
            Bronze   17687                         Cate Natalie Campbell
            Bronze   17687                         Cate Natalie Campbell
            Bronze   19603                                 Kyle Chalmers
            Bronze   19603                                 Kyle Chalmers
            Bronze   19844                           Gary Arthur Chapman
            Bronze   19920                  Andrew Murray "Boy" Charlton
            Bronze   23519                           Alicia Jayne Coutts
            Bronze   24435                         Robert Stephen Cusack
            Bronze   25633                  Judith Joy "Judy-Joy" Davies
            Bronze   27959                            John Thomas Devitt
            Bronze   27987                          Steven Dennis Dewick
            Bronze   28368                           David Gavin Dickson
            Bronze   28368                           David Gavin Dickson
            Bronze   28368                           David Gavin Dickson
            Bronze   28926                             Tommaso D'Orsogna
            Bronze   28945                               Peter John Doak
            Bronze   33467                           Peter Maxwell Evans
            Bronze   33467                           Peter Maxwell Evans
            Bronze   33467                           Peter Maxwell Evans
            Bronze   35125                  Nicholas David "Nick" Ffrost
            Bronze   36236                 Michelle Jan Ford (-Eriksson)

In [ ]:
#GROUPING

In [28]:
#Using grouping, I can determine the average height of a gold, silver or bronze medal winner

In [36]:
swim_champ.groupby('Medal')['Height'].mean()

Medal
Bronze    180.039241
Gold      181.689840
Silver    180.901190
Name: Height, dtype: float64

In [37]:
#this indicates that on average, the most successful olympians are taller, we can now further specify this on sex
swim_champ.groupby(['Medal', 'Sex'])['Height'].mean()

Medal   Sex
Bronze  F      173.405914
        M      185.942584
Gold    F      174.348730
        M      188.021912
Silver  F      174.282116
        M      186.832957
Name: Height, dtype: float64

In [38]:
# We see that the advantage of height is more apparent in males than in females

In [39]:
#We can also assess use grouping to find the oldest and youngest medal winner for each medal and sex
swim_champ.groupby(['Medal', 'Sex'])['Age'].max()

Medal   Sex
Bronze  F      33.0
        M      46.0
Gold    F      33.0
        M      35.0
Silver  F      41.0
        M      37.0
Name: Age, dtype: float64

In [40]:
swim_champ.groupby(['Medal', 'Sex'])['Age'].min()

Medal   Sex
Bronze  F      12.0
        M      16.0
Gold    F      13.0
        M      14.0
Silver  F      13.0
        M      15.0
Name: Age, dtype: float64

In [94]:
#This suggests that younger athletes perform better than younger ones, particularly among females

In [99]:
#DROP DUPLICATES AND REPLACE MISSING VALUES
#Using the .isna() and .any() commands on the dataset, we see only the age, height and weight columns have data missing
swim_champ.isna().any()

ID        False
Name      False
Sex       False
Age        True
Height     True
Weight     True
Team      False
NOC       False
Games     False
Year      False
Season    False
City      False
Sport     False
Event     False
Medal     False
dtype: bool

In [100]:
#We can now count these missing values
swim_champ.isna().sum()

ID          0
Name        0
Sex         0
Age        21
Height    483
Weight    560
Team        0
NOC         0
Games       0
Year        0
Season      0
City        0
Sport       0
Event       0
Medal       0
dtype: int64

In [102]:
# A command could be passed to remove these incomplete records
swim_champ_full_records=swim_champ.dropna()
print(swim_champ_full_records)

            ID                                   Name Sex   Age  Height  \
476        259                             Reema Abdo   F  21.0   173.0
803        460             Viktor Andreyevich Aboimov   M  22.0   190.0
804        460             Viktor Andreyevich Aboimov   M  22.0   190.0
814        465                   Matthew "Matt" Abood   M  30.0   197.0
892        509                           Gary Abraham   M  21.0   175.0
...        ...                                    ...  ..   ...     ...
270530  135302                          Iris Zscherpe   F  17.0   174.0
270732  135396               Martijn Hendrik Zuijdweg   M  23.0   186.0
270773  135415                          Robertas ulpa   M  20.0   193.0
270939  135489  Anastasiya Valeryevna Zuyeva-Fesikova   F  22.0   182.0
271013  135522        Klaas Erik "Klaas-Erik" Zwering   M  23.0   189.0

        Weight           Team  NOC        Games  Year  Season            City  \
476       59.0         Canada  CAN  1984 Summer  1984  Summer     Los Angeles
803       78.0   Soviet Union  URS  1972 Summer  1972  Summer          Munich
804       78.0   Soviet Union  URS  1972 Summer  1972  Summer          Munich
814       92.0      Australia  AUS  2016 Summer  2016  Summer  Rio de Janeiro
892       64.0  Great Britain  GBR  1980 Summer  1980  Summer          Moskva
...        ...            ...  ...          ...   ...     ...             ...
270530    55.0   West Germany  FRG  1984 Summer  1984  Summer     Los Angeles
270732    83.0    Netherlands  NED  2000 Summer  2000  Summer          Sydney
270773    82.0   Soviet Union  URS  1980 Summer  1980  Summer          Moskva
270939    71.0         Russia  RUS  2012 Summer  2012  Summer          London
271013    80.0    Netherlands  NED  2004 Summer  2004  Summer          Athina

           Sport                                            Event   Medal
476     Swimming     Swimming Women's 4 x 100 metres Medley Relay  Bronze
803     Swimming    Swimming Men's 4 x 100 metres Freestyle Relay  Silver
804     Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
814     Swimming    Swimming Men's 4 x 100 metres Freestyle Relay  Bronze
892     Swimming       Swimming Men's 4 x 100 metres Medley Relay  Bronze
...          ...                                              ...     ...
270530  Swimming  Swimming Women's 4 x 100 metres Freestyle Relay  Bronze
270732  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
270773  Swimming           Swimming Men's 200 metres Breaststroke    Gold
270939  Swimming           Swimming Women's 200 metres Backstroke  Silver
271013  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay  Silver

[2486 rows x 15 columns]

In [104]:
swim_champ_full_records.isna().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [105]:
#but doing so could risk removing important data, so we can replace these with 0 instead

In [106]:
swim_champ_missing_value_0= swim_champ.fillna(0)

In [108]:
swim_champ_missing_value_0.isna().any()

<bound method NDFrame._add_numeric_operations.<locals>.any of            ID   Name    Sex    Age  Height  Weight   Team    NOC  Games  \
37      False  False  False  False   False   False  False  False  False
38      False  False  False  False   False   False  False  False  False
210     False  False  False  False   False   False  False  False  False
476     False  False  False  False   False   False  False  False  False
740     False  False  False  False   False   False  False  False  False
...       ...    ...    ...    ...     ...     ...    ...    ...    ...
270530  False  False  False  False   False   False  False  False  False
270732  False  False  False  False   False   False  False  False  False
270773  False  False  False  False   False   False  False  False  False
270939  False  False  False  False   False   False  False  False  False
271013  False  False  False  False   False   False  False  False  False

         Year  Season   City  Sport  Event  Medal
37      False   False  False  False  False  False
38      False   False  False  False  False  False
210     False   False  False  False  False  False
476     False   False  False  False  False  False
740     False   False  False  False  False  False
...       ...     ...    ...    ...    ...    ...
270530  False   False  False  False  False  False
270732  False   False  False  False  False  False
270773  False   False  False  False  False  False
270939  False   False  False  False  False  False
271013  False   False  False  False  False  False

[3048 rows x 15 columns]>

In [109]:
#Dropping duplicates is risky with this dataset, as some individuals are listed twice based on their achievements
#But it is done nonetheless, albeit carefully
#To avoid removing multiple wins by one athlete, dropping duplicates is done as follows
swim_champ_tidy=swim_champ.drop_duplicates(['Name', 'Team', 'Year', 'Event'])

In [110]:
print(swim_champ_tidy)

            ID                                   Name Sex   Age  Height  \
37          15                   Arvo Ossian Aaltonen   M  30.0     NaN
38          15                   Arvo Ossian Aaltonen   M  30.0     NaN
210        100                       Oszkr Abay-Nemes   M  22.0     NaN
476        259                             Reema Abdo   F  21.0   173.0
740        424                Moira Abernethy (-Ford)   F  17.0     NaN
...        ...                                    ...  ..   ...     ...
270530  135302                          Iris Zscherpe   F  17.0   174.0
270732  135396               Martijn Hendrik Zuijdweg   M  23.0   186.0
270773  135415                          Robertas ulpa   M  20.0   193.0
270939  135489  Anastasiya Valeryevna Zuyeva-Fesikova   F  22.0   182.0
271013  135522        Klaas Erik "Klaas-Erik" Zwering   M  23.0   189.0

        Weight          Team  NOC        Games  Year  Season         City  \
37         NaN       Finland  FIN  1920 Summer  1920  Summer    Antwerpen
38         NaN       Finland  FIN  1920 Summer  1920  Summer    Antwerpen
210        NaN       Hungary  HUN  1936 Summer  1936  Summer       Berlin
476       59.0        Canada  CAN  1984 Summer  1984  Summer  Los Angeles
740        NaN  South Africa  RSA  1956 Summer  1956  Summer    Melbourne
...        ...           ...  ...          ...   ...     ...          ...
270530    55.0  West Germany  FRG  1984 Summer  1984  Summer  Los Angeles
270732    83.0   Netherlands  NED  2000 Summer  2000  Summer       Sydney
270773    82.0  Soviet Union  URS  1980 Summer  1980  Summer       Moskva
270939    71.0        Russia  RUS  2012 Summer  2012  Summer       London
271013    80.0   Netherlands  NED  2004 Summer  2004  Summer       Athina

           Sport                                            Event   Medal
37      Swimming           Swimming Men's 200 metres Breaststroke  Bronze
38      Swimming           Swimming Men's 400 metres Breaststroke  Bronze
210     Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
476     Swimming     Swimming Women's 4 x 100 metres Medley Relay  Bronze
740     Swimming  Swimming Women's 4 x 100 metres Freestyle Relay  Bronze
...          ...                                              ...     ...
270530  Swimming  Swimming Women's 4 x 100 metres Freestyle Relay  Bronze
270732  Swimming    Swimming Men's 4 x 200 metres Freestyle Relay  Bronze
270773  Swimming           Swimming Men's 200 metres Breaststroke    Gold
270939  Swimming           Swimming Women's 200 metres Backstroke  Silver
271013  Swimming    Swimming Men's 4 x 100 metres Freestyle Relay  Silver

[3048 rows x 15 columns]

In [111]:
# MERGE DATAFRAMES
#I now aim to merge the swimming dataframe with the powerlifting dataframe imported earlier
powerlifting= pd.read_csv('openpowerlifting.csv')

C:\Users\Jim\anacondaforjupiter\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [130]:
powerlifting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1423354 entries, 0 to 1423353
Data columns (total 37 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Name             1423354 non-null  object
 1   Sex              1423354 non-null  object
 2   Event            1423354 non-null  object
 3   Equipment        1423354 non-null  object
 4   Age              757527 non-null   float64
 5   AgeClass         786800 non-null   object
 6   Division         1415176 non-null  object
 7   BodyweightKg     1406622 non-null  float64
 8   WeightClassKg    1410042 non-null  object
 9   Squat1Kg         337580 non-null   float64
 10  Squat2Kg         333349 non-null   float64
 11  Squat3Kg         323842 non-null   float64
 12  Squat4Kg         3696 non-null     float64
 13  Best3SquatKg     1031450 non-null  float64
 14  Bench1Kg         499779 non-null   float64
 15  Bench2Kg         493486 non-null   float64
 16  Bench3Kg         478485 non-null   float64
 17  Bench4Kg         9505 non-null     float64
 18  Best3BenchKg     1276181 non-null  float64
 19  Deadlift1Kg      363544 non-null   float64
 20  Deadlift2Kg      356023 non-null   float64
 21  Deadlift3Kg      339947 non-null   float64
 22  Deadlift4Kg      9246 non-null     float64
 23  Best3DeadliftKg  1081808 non-null  float64
 24  TotalKg          1313184 non-null  float64
 25  Place            1423354 non-null  object
 26  Wilks            1304407 non-null  float64
 27  McCulloch        1304254 non-null  float64
 28  Glossbrenner     1304407 non-null  float64
 29  IPFPoints        1273286 non-null  float64
 30  Tested           1093892 non-null  object
 31  Country          388884 non-null   object
 32  Federation       1423354 non-null  object
 33  Date             1423354 non-null  object
 34  MeetCountry      1423354 non-null  object
 35  MeetState        941545 non-null   object
 36  MeetName         1423354 non-null  object
dtypes: float64(22), object(15)
memory usage: 401.8+ MB

In [112]:
#This is first tidied to remove missing values
powerlifting.isna().sum()

Name                     0
Sex                      0
Event                    0
Equipment                0
Age                 665827
AgeClass            636554
Division              8178
BodyweightKg         16732
WeightClassKg        13312
Squat1Kg           1085774
Squat2Kg           1090005
Squat3Kg           1099512
Squat4Kg           1419658
Best3SquatKg        391904
Bench1Kg            923575
Bench2Kg            929868
Bench3Kg            944869
Bench4Kg           1413849
Best3BenchKg        147173
Deadlift1Kg        1059810
Deadlift2Kg        1067331
Deadlift3Kg        1083407
Deadlift4Kg        1414108
Best3DeadliftKg     341546
TotalKg             110170
Place                    0
Wilks               118947
McCulloch           119100
Glossbrenner        118947
IPFPoints           150068
Tested              329462
Country            1034470
Federation               0
Date                     0
MeetCountry              0
MeetState           481809
MeetName                 0
dtype: int64

In [121]:
powerlifting_clean=powerlifting.dropna()

In [123]:
powerlifting_clean.info

<bound method DataFrame.info of                    Name Sex Event  Equipment   Age AgeClass  \
63986     Kylie Beutler   F   SBD      Wraps  23.0    20-23
66457    Kaitlynn Naert   F   SBD      Wraps  13.0    13-15
67030    Carol Moorhead   F   SBD      Wraps  55.0    55-59
67031     Nancy Lowther   F   SBD      Wraps  58.0    55-59
69557        Roger Shaw   M   SBD      Wraps  73.0    70-74
646493     Ryan Lapadat   M   SBD        Raw  26.0    24-34
646495     Denis Pronin   M   SBD  Multi-ply  20.0    20-23
652230       Brooke Zak   F   SBD        Raw  12.5    13-15
658136       Brooke Zak   F   SBD        Raw  12.0     5-12
658137       Brooke Zak   F   SBD        Raw  12.0     5-12
658150  Frank Ferchland   M   SBD        Raw  50.5    50-54
658151  Frank Ferchland   M   SBD        Raw  50.5    50-54
658152  Frank Ferchland   M   SBD        Raw  50.5    50-54
919233  Michael Trentin   M   SBD  Multi-ply  18.0    18-19

                 Division  BodyweightKg WeightClassKg  Squat1Kg  ...  \
63986       Juniors 20-23         56.00            56     83.91  ...
66457          Teen 13-15        103.69           90+     43.09  ...
67030                Open         74.39            75     79.38  ...
67031                Open         87.09            90     90.72  ...
69557       Masters 70-79         74.12            75    147.42  ...
646493               Open         81.70          82.5    142.50  ...
646495      Juniors 20-23         76.30          82.5    125.00  ...
652230         Teen 12-13         44.54            48     40.00  ...
658136         Teen 12-13         43.27            44     37.50  ...
658137               Open         43.27            44     37.50  ...
658150               Open        106.87           110    142.50  ...
658151  Law/Fire/Military        106.87           110    142.50  ...
658152      Masters 50-54        106.87           110    142.50  ...
919233              MO-MP         64.45          67.5    117.50  ...

        McCulloch  Glossbrenner  IPFPoints  Tested    Country  Federation  \
63986      338.90        299.77     523.61     Yes        USA         WPA
66457      263.24        175.84     359.25     Yes        USA         APA
67030      273.44        196.41     374.65     Yes        USA         APA
67031      336.19        227.02     449.73     Yes        USA         APA
69557      546.53        301.14     443.10     Yes        USA         APA
646493     347.04        335.10     505.60     Yes     Canada         CPO
646495     322.77        303.01     411.52     Yes     Canada         CPO
652230     286.01        200.16     303.20     Yes        USA         RAW
658136     312.43        211.11     318.59     Yes        USA         RAW
658137     312.43        211.11     318.59     Yes        USA         RAW
658150     323.84        274.82     390.62     Yes        USA         RAW
658151     323.84        274.82     390.62     Yes        USA         RAW
658152     323.84        274.82     390.62     Yes        USA         RAW
919233     316.24        289.83     394.62     Yes  Australia        CAPO

              Date  MeetCountry  MeetState                        MeetName
63986   2011-05-21          USA         CA             World Championships
66457   2015-09-19          USA         MI                  Wolverine Open
67030   2017-04-22          USA         MO  ShowMe State Raw Championships
67031   2017-04-22          USA         MO  ShowMe State Raw Championships
69557   2018-11-17          USA         MO       Midwest Raw Championships
646493  2008-05-17       Canada         ON          Canadian Championships
646495  2008-05-17       Canada         ON          Canadian Championships
652230  2018-11-09          USA         NC                        OBX Open
658136  2018-08-03          USA         NC                   Southern Open
658137  2018-08-03          USA         NC                   Southern Open
658150  2018-08-03          USA         NC                   Southern Open
658151  2018-08-03          USA         NC                   Southern Open
658152  2018-08-03          USA         NC                   Southern Open
919233  2001-08-18    Australia         WA                       Nationals

[14 rows x 37 columns]>

In [ ]:
#As this has removed too much data, we go with fillna() function
powerlifting_tidy=powerlifting.fillna(0)

In [199]:
Powerlifting_tidy=powerlifting_tidy[powerlifting_tidy['Age'] > 14]
# age is put over 14 (this is the minimum age required to compete in most powerlifting competitions) to avoid issues by the fillna(0) values

In [200]:
Powerlifting_tidy.isna().sum()

Name               0
Sex                0
Event              0
Equipment          0
Age                0
AgeClass           0
Division           0
BodyweightKg       0
WeightClassKg      0
Squat1Kg           0
Squat2Kg           0
Squat3Kg           0
Squat4Kg           0
Best3SquatKg       0
Bench1Kg           0
Bench2Kg           0
Bench3Kg           0
Bench4Kg           0
Best3BenchKg       0
Deadlift1Kg        0
Deadlift2Kg        0
Deadlift3Kg        0
Deadlift4Kg        0
Best3DeadliftKg    0
TotalKg            0
Place              0
Wilks              0
McCulloch          0
Glossbrenner       0
IPFPoints          0
Tested             0
Country            0
Federation         0
Date               0
MeetCountry        0
MeetState          0
MeetName           0
dtype: int64

In [145]:
#Better, now I will be merging a table of the top performing powerlifters agains the gold medal winning swimmers
#I will be basing top performers off those with the highest totals
gold=swim_champ[swim_champ['Medal']== 'Gold']

In [146]:
gold.info

<bound method DataFrame.info of             ID                         Name Sex   Age  Height  Weight  \
1772       980    Rebecca "Becky" Adlington   F  19.0   179.0    70.0
1773       980    Rebecca "Becky" Adlington   F  19.0   179.0    70.0
1843      1017       Nathan Ghar-Jun Adrian   M  19.0   198.0   100.0
1844      1017       Nathan Ghar-Jun Adrian   M  23.0   198.0   100.0
1846      1017       Nathan Ghar-Jun Adrian   M  23.0   198.0   100.0
...        ...                          ...  ..   ...     ...     ...
267090  133620              Georg Zacharias   M  20.0     NaN     NaN
269547  134873                  Zhuang Yong   F  19.0   172.0    68.0
270394  135256           Zachary "Zac" Zorn   M  21.0   193.0    86.0
270403  135260  Victoriano Alberto Zorrilla   M  22.0     NaN     NaN
270773  135415                Robertas ulpa   M  20.0   193.0    82.0

                 Team  NOC        Games  Year  Season         City     Sport  \
1772    Great Britain  GBR  2008 Summer  2008  Summer      Beijing  Swimming
1773    Great Britain  GBR  2008 Summer  2008  Summer      Beijing  Swimming
1843    United States  USA  2008 Summer  2008  Summer      Beijing  Swimming
1844    United States  USA  2012 Summer  2012  Summer       London  Swimming
1846    United States  USA  2012 Summer  2012  Summer       London  Swimming
...               ...  ...          ...   ...     ...          ...       ...
267090        Germany  GER  1904 Summer  1904  Summer    St. Louis  Swimming
269547          China  CHN  1992 Summer  1992  Summer    Barcelona  Swimming
270394  United States  USA  1968 Summer  1968  Summer  Mexico City  Swimming
270403      Argentina  ARG  1928 Summer  1928  Summer    Amsterdam  Swimming
270773   Soviet Union  URS  1980 Summer  1980  Summer       Moskva  Swimming

                                                Event Medal
1772            Swimming Women's 400 metres Freestyle  Gold
1773            Swimming Women's 800 metres Freestyle  Gold
1843    Swimming Men's 4 x 100 metres Freestyle Relay  Gold
1844              Swimming Men's 100 metres Freestyle  Gold
1846       Swimming Men's 4 x 100 metres Medley Relay  Gold
...                                               ...   ...
267090           Swimming Men's 440 Yard Breaststroke  Gold
269547          Swimming Women's 100 metres Freestyle  Gold
270394  Swimming Men's 4 x 100 metres Freestyle Relay  Gold
270403            Swimming Men's 400 metres Freestyle  Gold
270773         Swimming Men's 200 metres Breaststroke  Gold

[1099 rows x 15 columns]>

In [129]:
#we see that there are 1099 gold medal win entries compared to 3048 medal win entries, so they represent
(1099/3048)*100

36.05643044619423

In [201]:
#36.06% of the total swim medal winners, now we focus on finding what a high Total kg lifted amount is in powerflifting
#we do this with some summary statistics
total= np.array(Powerlifting_tidy['TotalKg'])

In [176]:
total.mean()

372.1138231053794

In [177]:
total.max()

1367.5

In [178]:
print(total)

[290.  332.5  32.5 ... 440.    0.    0. ]

In [179]:
totalkg=pd.Series(total)
totalkg.describe()

count    757434.000000
mean        372.113823
std         235.462858
min           0.000000
25%         175.000000
50%         342.500000
75%         557.000000
max        1367.500000
dtype: float64

In [202]:
#From the statistics, we can see that a total over 557kg is higher than 75% of the other totals, making it a very high total
#we group the entries for people with this total in the dataset "strong"
strong= Powerlifting_tidy[Powerlifting_tidy['TotalKg'] > 557]

In [192]:
print(strong.head())

                Name Sex Event Equipment   Age AgeClass Division  \
42     Aiden Westrip   M   SBD     Wraps  28.0    24-34     M-OR
43      Andrew Fella   M   SBD     Wraps  27.0    24-34     M-OR
45  Anthony Provenza   M   SBD     Wraps  34.0    24-34     M-OR
46   Arian Behbehani   M   SBD     Wraps  26.0    24-34     M-OR
47     Ashley Walshe   M   SBD     Wraps  27.0    24-34     M-OR

    BodyweightKg WeightClassKg  Squat1Kg  ...  McCulloch  Glossbrenner  \
42          82.0          82.5     210.0  ...     411.82        397.62
43          89.2            90     230.0  ...     416.86        401.80
45         114.7           125    -270.0  ...     418.65        400.35
46          97.6           100     300.0  ...     461.03        443.40
47          97.7           100     210.0  ...     390.17        375.24

    IPFPoints  Tested    Country  Federation        Date  MeetCountry  \
42     615.81       0          0     GPC-AUS  2018-10-27    Australia
43     622.52       0          0     GPC-AUS  2018-10-27    Australia
45     599.24       0          0     GPC-AUS  2018-10-27    Australia
46     690.96       0  Australia     GPC-AUS  2018-10-27    Australia
47     571.66       0          0     GPC-AUS  2018-10-27    Australia

    MeetState       MeetName
42        VIC  Melbourne Cup
43        VIC  Melbourne Cup
45        VIC  Melbourne Cup
46        VIC  Melbourne Cup
47        VIC  Melbourne Cup

[5 rows x 37 columns]

In [203]:
#We now merge the dataset of gold medal winning swimmers with that of the advanced powerlifters on the 'Age' column
strength_swim= gold.merge(strong, on='Age')

In [204]:
Strength_swim=strength_swim.fillna(0)

In [184]:
Strength_swim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3105214 entries, 0 to 3105213
Data columns (total 51 columns):
 #   Column           Dtype
---  ------           -----
 0   ID               int64
 1   Name_x           object
 2   Sex_x            object
 3   Age              float64
 4   Height           float64
 5   Weight           float64
 6   Team             object
 7   NOC              object
 8   Games            object
 9   Year             int64
 10  Season           object
 11  City             object
 12  Sport            object
 13  Event_x          object
 14  Medal            object
 15  Name_y           object
 16  Sex_y            object
 17  Event_y          object
 18  Equipment        object
 19  AgeClass         object
 20  Division         object
 21  BodyweightKg     float64
 22  WeightClassKg    object
 23  Squat1Kg         float64
 24  Squat2Kg         float64
 25  Squat3Kg         float64
 26  Squat4Kg         float64
 27  Best3SquatKg     float64
 28  Bench1Kg         float64
 29  Bench2Kg         float64
 30  Bench3Kg         float64
 31  Bench4Kg         float64
 32  Best3BenchKg     float64
 33  Deadlift1Kg      float64
 34  Deadlift2Kg      float64
 35  Deadlift3Kg      float64
 36  Deadlift4Kg      float64
 37  Best3DeadliftKg  float64
 38  TotalKg          float64
 39  Place            object
 40  Wilks            float64
 41  McCulloch        float64
 42  Glossbrenner     float64
 43  IPFPoints        float64
 44  Tested           object
 45  Country          object
 46  Federation       object
 47  Date             object
 48  MeetCountry      object
 49  MeetState        object
 50  MeetName         object
dtypes: float64(24), int64(2), object(25)
memory usage: 1.2+ GB

In [208]:
strong['Age'].mean()

30.109586034754464

In [209]:
gold['Age'].mean()

20.77676120768527

In [210]:
Strength_swim['Age'].mean()

22.075160520520726

In [ ]:
#As we can see from calculating the mean statistics, the average age of a gold medal winning swimmer is far younger than that
# of a top performing powerlifter